<section>
  <div class="logo"></div>

  <form class="signin">
    <h1>Login</h1>
    <div class="input-group">
      <input type="text" name="username" id="username" placeholder="Username" />
    </div>
    <div class="input-group">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
    </div>
    <button type="submit">Create an account</button>

    <p>
      Don't have an account? <a class="link" routerLink="['signup']">Signup</a>
    </p>
  </form>
</section>
