<section>
  <div class="logo"></div>

  <form class="signup">
    <h1>Sign Up</h1>
    <div class="input-group">
      <input type="text" name="username" id="username" placeholder="Username" />
    </div>
    <div class="input-group">
      <input type="password" name="password" id="password" placeholder="Password" />
    </div>
    <div class="input-group">
      <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"/>
    </div>
    <button type="submit">Create an account</button>

    <p>Already have an account? <a class="link" routerLink="['login']">Login</a></p>
  </form>
</section>
